.grilleParcours {
    display: grid;
    grid-template-columns: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 200px;
    justify-content: center;
  }
  
  .parcours .grilleParcours img{
    width: 100px;
    height: 100px;
  }
  
  .College{
    grid-column: 1;
  }
  .LyceeV{
    grid-column: 2;
  }
  .LyceeM{
    grid-column: 3;
  }
  .Orsay{
    grid-column: 4;
  }

  @media (max-width: 768px) {
    .grilleParcours {
      display: grid;
      grid-template-columns: auto;
      margin-top: 20px;
      margin-bottom: 30px;
      gap: 20px;
      justify-content: center;
    }
    
    .parcours .grilleParcours img{
      width: 60px;
      height: 60px;
    }
  }