footer {
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.footerMenu {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
  gap: 10px; /* Réduire l'espace entre les colonnes */
}

.grilleReseau {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 5px; /* Réduire l'espace entre les sections */
}

.message p {
  font-size: 25px; /* Augmenter la taille du texte */
  font-weight: 400; /* Rendre le texte légèrement plus épais */
  margin-top: 5px; /* Réduire l'espace au-dessus */
}

.listeLogo {
  grid-column: 1;
  display: flex;
  justify-content: center;
  gap: 15px; /* Espacement légèrement réduit entre les icônes */
}

.listeLogo img {
  width: 90px; /* Agrandir les icônes */
  height: 90px;
  transition: transform 0.3s ease-in-out;
}

.logo2, .mail {
  grid-column: 2;
  text-align: center;
}

.logo2 img {
  width: 130px; 
  height: 130px;
}

.mail p {
  font-size: 19px; /* Augmenter la taille de l'email */
  margin-top: 5px; /* Réduire l'espace au-dessus */
}

.grillefooterMenu {
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px; /* Réduire le padding pour rapprocher les colonnes */
}

.grillefooterMenu a {
  list-style: none;
  text-decoration: none;
  color: #c5a880;
  font-size: 18px; /* Agrandir la taille des liens */
  transition: color 0.3s ease-in-out;
}

.grillefooterMenu a:hover {
  color: #f4d9a6;
}

footer p {
  margin-top: 10px;
  font-size: 16px; /* Agrandir le texte du copyright */
  color: white;
}
  @media (max-width: 768px) {
    footer {
        text-align: center;
        padding: 15px;
    }

    .footerMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .grilleReseau {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .message p {
        font-size: 16px;
        text-align: center;
    }

    .listeLogo {
      margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .listeLogo img {
        width: 40px;
        height: 40px;
    }

    .logo2 img {
        width: 80px;
        height: 80px;
        justify-content: center;
    }

    .mail {
        text-align: center;
    }

    .mail p {
        font-size: 14px;
    }

    .grillefooterMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .grillefooterMenu a {
        font-size: 14px;
    }

    footer p {
        font-size: 12px;
        text-align: center;
    }
}
