footer {
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.footerMenu {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
  gap: 10px;
}

.grilleReseau {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 5px; 
}

.message p {
  font-size: 25px;
  font-weight: 400; 
  margin-top: 5px; 
}

.listeLogo {
  grid-column: 1;
  display: flex;
  justify-content: center;
  gap: 15px; 
}

.listeLogo img {
  width: 90px; 
  height: 90px;
  transition: transform 0.3s ease-in-out;
}

.logo2, .mail {
  grid-column: 2;
  text-align: center;
}

.logo2 img {
  width: 130px; 
  height: 130px;
}

.mail p {
  font-size: 19px; 
  margin-top: 5px; 
}

.grillefooterMenu {
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px; 
}

.grillefooterMenu a {
  list-style: none;
  text-decoration: none;
  color: #c5a880;
  font-size: 18px; 
  transition: color 0.3s ease-in-out;
}

.grillefooterMenu a:hover {
  color: #f4d9a6;
}

footer p {
  margin-top: 10px;
  font-size: 16px;
  color: white;
}
  @media (max-width: 768px) {
    footer {
        text-align: center;
        padding: 15px;
    }

    .footerMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .grilleReseau {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .message p {
        font-size: 16px;
        text-align: center;
    }

    .listeLogo {
      margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .listeLogo img {
        width: 40px;
        height: 40px;
    }

    .logo2 img {
        width: 80px;
        height: 80px;
        justify-content: center;
    }

    .mail {
        text-align: center;
    }

    .mail p {
        font-size: 14px;
    }

    .grillefooterMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .grillefooterMenu a {
        font-size: 14px;
    }

    footer p {
        font-size: 12px;
        text-align: center;
    }
}
