
footer{
    text-align: center;
    padding: 5px;
    background-color: #000000;
    color: #000000;
    
  }
  
  .footerMenu{
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-rows: 2;
  }
  .grilleReseau{
    grid-row: 1 ;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
  }
  
  .message{
    grid-column: 1;
    grid-row: 1;
    margin-top: 20%;
  }
  
  .message p{
    font-size: 20px;
    margin-top: 10px;
  }
  
  .listeLogo{
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 3;
  }
  
  .github{
    grid-column: 1;
  }
  
  .twitter{
    grid-column: 2;
  }
  
  .linkedin{
    grid-column: 3;
  }
  
  .listeLogo img{
    width: 60px;
    height: 60px;
  }
  
  .logo2{
    grid-column: 2;
    grid-row: 1;
    margin-right: 40%;
   
  }
  
  .logo2 img{
    width: 150px;
    height: 150px;
  }
  
  .mail{
    grid-column: 2;
    grid-row: 2;
  }
  
  .mail p{
    font-size: 15px;
  }
  
  .grillefooterMenu{
    display: grid;
    grid-row: 2 ;
    grid-template-columns: 4;
    column-gap: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .grillefooterMenu a{
    list-style: none;
    text-decoration: none;
    color: white;
  }
  
  .Pres{
    grid-column: 1;
  }
  
  .Proj{
    grid-column: 2;
  }
  
  .Exp{
    grid-column: 3;
  }
  .Form{
    grid-column: 4;
  }