.toolbox {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.toolbox h4 {
  color: black;
  font-size: 30px;
  font-family: 'Inknut Antiqua';
}

.toolbox p {
  color: light-dark(#333b3c, #ffffff);
  font-size: 22px;
  margin-bottom: 20px;
  max-width: 700px;
  line-height: 1.15;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Handjet';
}

.grilleToolbox {
  display: grid;
  gap: 20px;  
  grid-template-columns: repeat(5, minmax(100px, 1fr)); 
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.grilleToolbox img {
  width: 80px; 
  height: 80px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .grilleToolbox {
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
  }

  .grilleToolbox img {
    width: 50px; 
    height: 50px;
  }

  .toolbox h4 {
    font-size: 24px;
  }

  .toolbox p {
    font-size: 14px;
  }
}
