.marquee-container {
  background-color: #FFC943;
  color: black;
  font-size: 30px;
  font: italic small-caps bold 16px/2 cursive;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center; 
  display: flex; 
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 50px;
}

.marquee-text {
  display: inline-block;
  animation: scroll-left 20s linear infinite;
  position: absolute;
  white-space: nowrap;
}

@keyframes scroll-left {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}
