
.presentation{
    margin-left: 17%;
    margin-right: 18%;
    margin-bottom: 10px;
  }
  
  .presentation p {
    color:black ;
  }

  .moi{
    grid-column: 2;
  }
  .moi h2{
    font-size: 30px;
    font-family: 'Handjet';
    color: #FFC943;
  }
  .moi a {
      list-style: none;
      text-decoration: none;
      color: black;
  }
  
  .presentation .moi p {
    font-size: 18px;
    line-height: 1.15;
    font-family: 'Inknut Antiqua';
  }

   .company p {
    font-size: 15px;
    font-family: 'Inknut Antiqua';
  }
  
  .grillePresentation{
    display: grid;
    grid-template-columns: auto ;
  }
  
  .photo{
    grid-column: 1;
    margin-right: 30px;
    align-items: center;
    text-align: center;
  }
  
  .photo .me img {
    width: 350px;
    height: 350px;
    position: static;
    margin-left: 50px;
    margin-right: 10px;
  }
  

  
  .cv a {
    background-color: black;
    padding: 10px 10px;
    color: white;
    list-style: none;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'Handjet';
    font-size: 25px;
  }
  
  .presentation .grillePresentation .company{
    margin-left: 20px;
    align-items: center;
    text-align: center;
  }
  .presentation .grillePresentation .company p {
    font-weight: bolder;
  }
  
  .company img{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 150px;
    height: 200px;
    
  }
  
  @media (max-width: 768px) {
     .grillePresentation{
        display: grid;
        grid-template-rows: 2;
        margin-left: -5px;
      }
   
      
      .presentation p {
        color:black ;
      }

      .moi{
        grid-row: 2;
        grid-column: 1;
      }
      .moi h2{
        margin-top: 20px;
        font-size: 30px;
        font-family: 'Handjet';
        color: #FFC943;
      }
      .moi a {
          list-style: none;
          text-decoration: none;
          color: black;
      }
      
      .presentation .moi p {
        font-size: 20px;
        font-family: 'Inknut Antiqua';
      }

      .company p {
        font-size: 10px;
        font-family: 'Inknut Antiqua';
      }
      
     
      .photo{
        grid-row: 1;
        align-items: center;
        text-align: center;
      }
      
      .photo .me img {
        width: 200px;
        height: 200px;
        position: static;
  
      }

      
      .cv a {
        background-color: black;
        padding: 10px 10px;
        color: white;
        list-style: none;
        text-decoration: none;
        border-radius: 8px;
        font-family: 'Handjet';
        font-size: 25px;
      }
      
      
      .presentation .grillePresentation .company p {
        font-weight: bolder;
      }
      
      .company img{
        margin-top: 10px;
        margin-bottom: 5px;
        width: 100px;
        height: 150px;
      }

      .company h2{
        font-size: 20px;
      }
  }