/* General Layout */
.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #333;
}

/* Title and Description */
.projects-title {
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #a17d60;
    margin-bottom: 10px;
}

.projects-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: black;
}

/* Controls Section */
.projects-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.stack-filter {
    width: 70%;
    max-width: 400px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-button {
    padding: 10px 15px;
    background-color: #a17d60;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.filter-button:hover {
    background-color: #543caa;
}

/* Project Grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Project Card */
.project-card {
    background-color: black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.project-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.project-content {
    padding: 20px;
}

.project-title {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 10px;
}

.project-description {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 10px;
}

/* Stacks */
.project-stacks {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.stack {
    background-color: #a0522d; /* Brown color */
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 12px; /* Oval shape */
    white-space: nowrap;
}
