.hobbies h4{
  color: black;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.hobbies p{
  color: black;
  align-items: center;
  text-align: center;
}


.hobbies
{
  margin-top: 30px;
  margin-bottom: 30px;
}


.grilleHobbies{
  display: grid;
  grid-template-columns: 6;
  grid-template-rows: 2;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
  text-align: center;
}

.grilleHobbies img{
  width: 60px;
  height: 60px;
}

.Basket{grid-column: 1; grid-row: 1;}
.Boxe{grid-column: 2; grid-row: 1;}
.Foot{grid-column: 3; grid-row: 1;}
.Photo{grid-column: 4; grid-row: 1;}
.Montage{grid-column: 5; grid-row: 1;}
.Langues{grid-column: 6; grid-row: 1;}
.Piano{grid-column: 1; grid-row: 2;}
.Guitare{grid-column: 2; grid-row: 2;}
.Musique{grid-column: 3; grid-row: 2;}
.Voyager{grid-column: 4; grid-row: 2;}
.Jeu{grid-column: 5; grid-row: 2;}
.Electronique{grid-column: 6; grid-row: 2;}


@media screen and (max-width: 768px) {
  .grilleHobbies {
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    justify-items: center;
    text-align: center;
  }

  .grilleHobbies img {
    width: 50px; /* Ajuste la taille si nécessaire */
    height: 50px;
  }
}