.skillset {
  background-color: #f8f8f8;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Inknut Antiqua';
  line-height: 1.15;
}

.skillset h4 {
  color: black;
  font-size: 25px;
  margin-bottom: 10px;
  font-family: 'Inknut Antiqua';
}

.skillset h5 {
  color: #FFC943;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Handjet';
}

.skillset h6, .skillset p {
  color:light-dark(#333b3c, #ffffff);
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 700px;
  line-height: 1.15;
  font-weight:bold;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Handjet';
}

.skillset p {
  transition: transform 0.2s ease-in-out;
}

.skillset p:hover{
   transform: scale(2.2);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  font-family: 'Handjet';
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 calc(33.333% - 20px);
  padding: 10px;
  border-right: thick solid black;
}

.column_bis{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 calc(33.333% - 20px);
  padding: 10px;
}

.column p,  .column_bis p{
  font-weight: bold;
  font-size: 20px;
  margin: 8px 0;
}


@media (max-width: 768px) {
  .skills-container {
      display:contents;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      font-family: 'Handjet';
    }
  .column {
    display: flex;
    flex-direction:column;
    align-items: center;
    flex: 1 1 calc(33.333% - 20px);
    padding: 10px;
    border-bottom: thick solid black;
    border-right: none;
  }

  .column p {
    font-size: 20px; 
    text-align: center;
  }
}

@media (max-width: 480px) {
  .column p {
    font-size: 13px;
    text-align: center;
  }
}