.skillset {
  background-color: #f8f8f8;
  padding: 40px 20px;
  text-align: center;
}

.skillset h4 {
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
}

.skillset p {
  color: black;
  font-size: 14px;
  margin-bottom: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 calc(33.333% - 20px);
  padding: 10px;
}

.column p {
  font-weight: bold;
  margin: 8px 0;
}

.divider {
  display: none;
}


@media (max-width: 768px) {
  .skills-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .column {
    flex: 1 1 calc(33.333% - 10px); 
  }

  .column p {
    font-size: 20px; 
    text-align: center;
  }
}

@media (max-width: 480px) {
  .column p {
    font-size: 13px;
    text-align: center;
  }
}