.experience-timeline {
    background-color: white;
    color: #fff;
    padding: 40px;
    text-align: center;
}

.experience-timeline h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Inknut Antiqua';
    color: black;
}

.experience-timeline h5 {
    color:light-dark(#333b3c, #ffffff);
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 700px;
    line-height: 1.15;
    font-weight:bold;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Handjet';
}

.timeline {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    z-index: 1;
}

/* Barre Verticale noir*/
.timeline::after {
    content: '';
    position: absolute;
    width: 20px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    z-index: -1;
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item.left {
    left: 9px;
    text-align: left;
}

.timeline-item.right {
    left: 50.9%;
    text-align: left;
}

/* Barre Horizontale Jaune */
.timeline-item::before { 
    content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: #FFC943;
    border: 2px solid #FFC943;
    top: 20px;
    z-index: -1;
}

.timeline-item.left::before {
    right: -10px;
}

.timeline-item.right::before {
    left: -10px;
}

.timeline-content {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    color: #fff;
    animation: fadeIn 0.9s ease-in-out forwards;
    opacity: 0;
    transform: translateY(30px);
}

.timeline-content h3 {
    font-size: 30px;
    color: #FFC943;
    font-family: 'Handjet';
}

.timeline-content h4 {
    color: white;
    font-family: 'Handjet';
}

.timeline-content .date {
    font-size: 13px;
    color: #FFC943;
    font-weight:lighter;
}


.timeline-content li {
    list-style: none;
    font-size: 15px;
    color: white;
    font-family: 'Inter';
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
